

.BusinessArray {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 8rem;
  margin-left: 10%;
  margin-right:10%;

  
  

}

@media all and (max-width: 500px) { 
  .BusinessArray {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem;
    margin-left: 2%;
    margin-right: 2%;
  

}
}